<div class = "col-md-8 offset-md-1">
  <h2>Groups</h2>
  <table class = "table">
    <thead>
      <tr>
        <th>グループ名</th>
        <th>説明</th>
        <th>グループ作成者</th>
        <th colsapn = "3"></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.name %></td>
          <td><%= group.introduction%></td>
          <td><%= group.user.name%></td>
          <td><%= link_to "Show", group_path(group.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
