
    <div class="ol-md-3 mx-auto">
        <div class = "form-inline">
        <%= form_with url: admin_search_path,local:true, method: :get do |f| %>
          <%= f.select :model, ({ "投稿" => "post", "ユーザー" => "user" }), {  selected: params[:model] }, { class: "custom-select mr-sm-2" } %>
          <%= f.search_field :keyword, value: params[:keyword], class: "form-control mr-sm-2" %>
          <%= f.submit '検索', class: "btn btn btn-secondary my-2 my-sm-0" %>
        <% end %>
      </div>
    </div>
