<div class="container">
    <div class="row">
        <h1 class="px-3 mx-auto">
            ようこそ
            <i class="fa-solid fa-seedling"></i>
            <strong>PlantDiary</strong>
            へ♪
        </h1>
    </div>
</div>
