<div class = "col-md-8 offset-md-1">
  <h2>全ユーザー一覧</h2>
  <table class = "table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th>email</th>
        <th colsapn = "3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(80,80) %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= link_to "詳細", admin_dashboard_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>